@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;1,500&display=swap');

*{
	padding: 0;
	margin: 0;
}

body {	
	background: linear-gradient(rgba(255, 255, 255, 0.007), rgba(95, 95, 95, 0.11)), 
	url('resources/vecteezy_white-squared-paper-sheet-background_94103/free-squared-paper-vector.jpg');
	line-height: 1.5;
	font-family: 'Montserrat';
	overflow: hidden;
}

aside {
	background-color: coral;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	width: 18%;
	height: 100vh;
	z-index: 10;	
	box-shadow: 10px 2px 70px 2px rgba(0, 0, 0, 0.418);
}

#top-nav {
	background-color:rgb(211, 211, 211);
	text-align: center;
	padding-top: 40px;
}

#top-nav a {
	color: black;
	text-decoration: none;
}

.profile-pic {
	border-radius: 50%;
	height: 110px;
	width: 112px;
}

.job-title {
	font-size: 12px;
	text-align: center;
	padding-bottom: 40px;
}

#top-nav a :hover {
	color: cadetblue;
}

#bottom-nav {
	background-color:mediumseagreen;
	display: block;
	height: 100vh;	
}

#bottom-nav a {
	font-size: 14px;
	color: white;
	display: block;
	padding-top: 40px;
	padding-bottom: 40px;
	padding-left: 77px;
	text-decoration: none;	
}

#bottom-nav .fa-home, #bottom-nav .fa-briefcase, #bottom-nav .fa-user, #bottom-nav .fa-envelope, 
#bottom-nav .fa-graduation-cap, #bottom-nav .fa-bar-chart, 
#bottom-nav .fa-pencil-square-o, #bottom-nav .fa-pie-chart {
	margin-right: 20px;
	font-size: 18px;
	display: inline-flex;
}

#bottom-nav .fa-home {
	font-size: 20px;
}

#bottom-nav a:hover {
	background-color:mediumspringgreen;
}

#bottom-nav a .fa-user {
	margin-right: 25px;
}

main {
	display: block;
	height: 100vh;
	max-width: 100%;
	overflow-y: scroll;	
	overflow-x: hidden;
}

h4 {
	background-color: mediumseagreen;
	color: white;
	font-size: 20px;
	text-align: left;
	padding: 30px;
	padding-left: 120px;
	display: block;
	margin-left: -50px;
}

#home, #portfolio, #about, #contact {
	padding-bottom: 80px;
	margin-left: 290px;
	margin-bottom: 30px;
}

#home {
	padding-bottom: 380px;
}

#home h1 {
	margin-top: 150px;
	padding-top: 45px;
	padding-left: 175px;
	font-size: 36px;
}

#home p {
	padding: 10px;
	padding-left: 180px;
	padding-right: 160px;
	padding-top: 20px;
	font-size: 16px;
	line-height: 1.8;
}

#home a {
	text-decoration: none;
	padding: 18px 80px;
	color: white;
	position: relative;
	top: 40px;
	left: 180px;
	background-color: coral;
	opacity: 5px;
	border-radius: 10px;
}

#home a:hover {
	background-color: teal;
}

#portfolio {
	padding-bottom: 300px;
}

#box-one {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 420px;
	position: relative;
	top: 40px;
	left: -5px;
}

#box-two {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 420px;
	position: relative;
	top: 100px;
	left: -5px;
}

#box-three {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 420px;
	position: relative;
	top: 160px;
	left: -5px;
}

#box-four {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 420px;
	position: relative;
	top: 220px;
	left: -5px;
}

#box-five {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 420px;
	position: relative;
	top: 280px;
	left: -5px;
}

.big-box {
	height: auto;
	width: 400px;
	background-color: whitesmoke;
	margin-right: 70px;
	position: relative;
	left: 30px;
	box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.418);
}

.square-image {
	width: 400px;
	height: 280px;
}

.square-bottom {
	padding-top: 20px;
	padding-left: 8px;
	padding-right: 5px;
	padding-bottom: 75px;
	font-size: 16px;
}

.fa-ellipsis-v, .fa-times {
	float: right;
	margin-right: 5px;
	margin-top: 5px;
	color:black;	
}

.shadow-box {
	background-color: burlywood;
	width: 400px;
	height: 0;
	position: absolute;
	bottom:0;
	transition: 0.5s;
-webkit-transition: 0.5s;
}

.h3 {
	margin-top: 10px;
	margin-left: 10px;
	color: rgb(11, 95, 49);
	font-size: 15.5px;
}

.main-p {
	margin-top: 10px;
	margin-left: 10px;
	font-size: 14px;
}

.coming-soon-p {
	color: rebeccapurple;
	padding-top: 180px;
	padding-left: 120px;
	text-align: left;
	font-size: 25px;
}

.back-h3 {
	text-align: center;
	padding-top: 70px;
	text-decoration: underline;
}

#subFour .back-h3 {
	padding-top: 20px;
}

.back-p {
	color: rebeccapurple;
	padding-top: 20px;
	padding-left:40px;
	padding-right: 40px;
	text-align: justify;
	font-size: 14px;
	line-height: 1.8;	
}

.back-links a {
	color: black;
	text-decoration: none;
	display: inline-flex;
	margin-right: 20px;
	position: relative;
	left: 150px;
	top: 50px;		
}

.back-links a .fa-external-link {
	font-size: 35px;
}

#subFour .fa-external-link{
	margin-left: 25px;
	position: relative;
	top: -20px;
}

.back-links a .fa-github {
	font-size: 40px;
}

#about {
	padding-bottom: 280px;
}

#about p {
	padding: 10px;
	padding-left: 70px;
	padding-right: 60px;
	padding-top: 40px;
	font-size: 16px;
	line-height: 1.8;
}

#contact {
	padding-bottom: 600px;
}

.contact-links a {
	text-decoration: none;
	display: inline-flex;
	margin-left: 80px;
	margin-top: 70px;
}

.contact-links .fa-linkedin-square, .contact-links .fa-imdb, .contact-links .fa-github-square {
	font-size: 70px;
	color: black;
}

.contact-links p {
	padding-top: 30px;
	padding-left: 30px;
	font-size: 15px;
	color: darkslategray;
}

.contact-links p:hover, .contact-links .fa-linkedin-square:hover, .contact-links .fa-imdb:hover, .contact-links .fa-github-square:hover{
	color: teal;
}

#container-experience {
	background-color:whitesmoke;
	margin-top: 30px;
	max-width: 88%;
	max-height: 500px;
	position: relative;
	top: 50px;
	left: 63px;
	padding:0;
	margin: 0;
	display: block;
	box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.418);
}

#top-experience, #top-skills, #top-tools{
	height: 90px;
	background-color: whitesmoke;
}

.line {
	position: relative;
	top: 60px;
	left: 50px;
	background-color: darkgray;
	width: 900px;
	height: 1px;
}

#middle-experience, #middle-skills, #middle-tools{
	height: 200px;
	padding: 20px;
	padding-left: 50px;
	font-size: 14px;
}

#middle-experience {
	padding-right: 40px;
}

#middle-experience ul {
	padding-top: 20px;
	font-size: 14px;
}

#middle-experience ul li {
	margin-top: 10px;
}

#bottom-experience {
	height: 70px;
	background-color: lightgray;
	opacity: 0.5;
}

.company-name, .skills, .tools {
	position: relative;
	top: 30px;
	left: 40px;
}

#top-experience .p {
	float: right;
	position: relative;
	top: 30px;
	right: 40px;
	font-size: 14px;
}

#bottom-experience .p {
	position: relative;
	top: 20px;
	left: 30px;
	font-size: 14px;
	color: black;
}

#container-skills {
	background-color:whitesmoke;
	margin-top: 30px;
	max-width: 88%;
	max-height: 300px;
	position: relative;
	top: 120px;
	left: 63px;
	padding:0;
	margin: 0;
	display: block;
	box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.418);
}

#container-tools {
	background-color:whitesmoke;
	margin-top: 10px;
	max-width: 88%;
	max-height: 300px;
	position: relative;
	top: 195px;
	left: 63px;
	padding:0;
	margin: 0;
	display: block;
	box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.418);
}

.skillsImage {
	width: 90px;
	height: 100px;
	margin-top: 30px;
	margin-left: 50px;
	margin-right: 100px;
}

.adobe {
	width: 60px;
	height: 60px;
	position: relative;
	top: -25px;
	margin-left: 50px;
	margin-right: 100px;
}

/* Preparation for Responsive design */

header, #mini-main, #mini-home, #mini-portfolio, #mini-about, #mini-contact {
	display: none;
	visibility: hidden;
}


/**** Responsive Design ****/

@media (min-width: 0px) and (max-width: 420px) {

	aside, main {
		display: none;
	}

	header {
		padding-top:20px;
		padding-right: 20px;
		max-width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		background-color: mediumseagreen;
		z-index: 10;
		display: block;
		visibility: visible;
	}

	nav a {
		float: right;
		text-decoration: none;
		visibility: visible;
	}

	nav .fa-bars {
		color: white;
		font-size: 25px;
		position: relative;
		top: -36px;
	}

	.side-menu {
		background-color: black;
		height: 100vh;
		width: 0;
		position: fixed;
		right: 0;
		top: 0;
		z-index: 2;
		opacity: 0.9;
		overflow-x: hidden;
		padding-top: 80px;
		transition: 0.5s;
		-webkit-transition: 0.5s;
	}

	.side-menu a {
		padding: 40px 20px;
		text-decoration: none;
		font-size: 17px;
		color: #ccc;
		display: block;
		position: relative;
		top: 30px;
		left: 80px;
		transition: 0.3s;
	}

	.side-menu .btn-close {
		position: absolute;
		top: -15px;
		right: -2px;
		font-size: 20px;		
	}

	.side-menu .fa-times {
		color: white;
	}

	label, header p {
		color: white;
		display: flex;
		justify-content: center;
		position: relative;
		top: 0;
		bottom: 0;
		left: 12px;
	}

	header p {
		font-size: 10px;
		padding-top: 5px;
	}

	#mini-main {
		display: block;
		visibility: visible;
		overflow-y: scroll;	
		overflow-x: hidden;
		height: 100vh;
		max-width: 100%;
	}

	#mini-home, #mini-portfolio, #mini-about, #mini-contact {
		display: block;
		visibility: visible;
	}

	#mini-about h4, #mini-portfolio h4, #mini-contact h4 {
		padding-left: 210px;
	}

	#mini-home {
		margin-top: 120px;
		padding-top: 40px;
		padding-bottom:200px;
	}
	
	#mini-home h1 {
		text-align: center;
		padding-left: 20px;
	}

	#mini-home p {
		display: flex;
		justify-content: center;
		margin-left: 20px;
		padding-top:20px;
		padding-left: 50px;
		padding-right: 47px;
		padding-bottom: 50px;
		line-height: 1.5;
		letter-spacing: 0.09px;
		text-align: justify;
	}

	#mini-home a {
		background-color: coral;
		opacity: 0.8;
		text-decoration: none;
		text-align: center;
		padding: 15px;
		display: flex;
		justify-content: center;
		position: relative;
		left: 15px;
		right: 50px;
		margin-right: 50px;
		margin-left: 50px;
		color: white;	
	}

	#mini-portfolio {
		padding-bottom: 10px;
		overflow: hidden;
	}
		
	#box-one-mini {
		display: block;
		width: 100%;
		height: 320px;
		position: relative;
		top: 60px;
		right: 1px;
		left: 2px;
		padding-bottom: 700px;
	}

	.big-box {
		height: auto;
		width: 350px;
		margin-bottom: 70px;
		background-color: whitesmoke;
		box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.418);
	}

	.square-image {
		width: 350px;
		height: 250px;
	}

	.square-bottom {
		padding-top: 20px;
		padding-left: 8px;
		padding-right: 5px;
		padding-bottom: 75px;
		font-size: 16px;
	}

	.shadow-box {
		background-color: burlywood;
		width: 350px;
		height: 0;
		position: absolute;
		bottom:0;
		transition: 0.5s;
	-webkit-transition: 0.5s;
	}

	.coming-soon-p {
		color: rebeccapurple;
		padding-top: 180px;
		padding-left: 110px;
		text-align: left;
		font-size: 20px;
	}

	/*

	#box-two {
		display: flex;
		justify-content: center;
		width: 100%;
		height: 420px;
		position: relative;
		top: 100px;
		left: -5px;
	}

	#box-three {
		display: flex;
		justify-content: center;
		width: 100%;
		height: 420px;
		position: relative;
		top: 160px;
		left: -5px;
	}

	#box-four {
		display: flex;
		justify-content: center;
		width: 100%;
		height: 420px;
		position: relative;
		top: 220px;
		left: -5px;
	}

	#box-five {
		display: flex;
		justify-content: center;
		width: 100%;
		height: 420px;
		position: relative;
		top: 280px;
		left: -5px;
	}

	

	.fa-ellipsis-v, .fa-times {
		float: right;
		margin-right: 5px;
		margin-top: 5px;
		color:black;	
	}

	

	.h3 {
		margin-top: 10px;
		margin-left: 10px;
		color: rgb(11, 95, 49);
		font-size: 15.5px;
	}

	.main-p {
		margin-top: 10px;
		margin-left: 10px;
		font-size: 14px;
	}

	

	.back-h3 {
		text-align: center;
		padding-top: 70px;
		text-decoration: underline;
	}

	#subFour .back-h3 {
		padding-top: 20px;
	}

	.back-p {
		color: rebeccapurple;
		padding-top: 20px;
		padding-left:40px;
		padding-right: 40px;
		text-align: justify;
		font-size: 14px;
		line-height: 1.8;	
	}

	.back-links a {
		color: black;
		text-decoration: none;
		display: inline-flex;
		margin-right: 20px;
		position: relative;
		left: 150px;
		top: 50px;		
	}

	.back-links a .fa-external-link {
		font-size: 35px;
	}

	#subFour .fa-external-link{
		margin-left: 25px;
		position: relative;
		top: -20px;
	}

	.back-links a .fa-github {
		font-size: 40px;
	}
*/



	#mini-about {
		padding-bottom:100px;

	}
	
	#mini-about p {
		position: relative;
		left: 20px;
		padding-top:30px;
		padding-left: 40px;
		padding-right: 70px;
		text-align: justify;
	}

	#mini-contact {
		padding-bottom: 100px;
	}

	#mini-contact .fa-linkedin-square {
		position: relative;
		left: 90px;
	}

	#mini-contact p {
		position: relative;
		top: 60px;
		right: 100px;
		font-size: 16px;
	}

	

}

@media (max-width:375px) {
	
	#mini-about h4, #mini-portfolio h4, #mini-contact h4 {
		padding-left: 190px;
	}
		
	#box-one-mini {
		display: block;
		width: 100%;
		height: 320px;
		position: relative;
		top: 50px;
		right: 5px;
		left: -5px;
		padding-bottom: 700px;
	}

	.big-box {
		height: auto;
		width: 320px;
		margin-bottom: 70px;
		background-color: whitesmoke;
		box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.418);
	}

	.square-image {
		width: 320px;
		height: 250px;
	}

	.square-bottom {
		padding-top: 20px;
		padding-left: 8px;
		padding-right: 5px;
		padding-bottom: 75px;
		font-size: 16px;
	}

	.shadow-box {
		background-color: burlywood;
		width: 320px;
		height: 0;
		position: absolute;
		bottom:0;
		transition: 0.5s;
	-webkit-transition: 0.5s;
	}

	.coming-soon-p {
		color: rebeccapurple;
		padding-top: 190px;
		padding-left: 95px;
		text-align: left;
		font-size: 20px;
	}
	
	.fa-times {
		float: right;
		margin-right: 20px;
		margin-top: 20px;
		color:black;	
	}
	
	#mini-contact .fa-linkedin-square {
		position: relative;
		left: 75px;
	}

	#mini-contact p {
		position: relative;
		top: 60px;
		right: 120px;
		font-size: 16px;
	}



}

@media (max-width: 320px) {
	#mini-home h1 {
		font-size: 20px;
	}

	#mini-home a {
		padding-right: 50px;
		padding-left: 50px;
		position: relative;
		left: 60px;
	}
	
	#mini-portfolio .card-container {
		position: relative;
		right: 115px;
		width: 290px;
	}

	#mini-about h4 {
		padding-left: 125px;
	}

	#mini-portfolio h4 {
		padding-left: 110px;
	}

	#mini-contact h4 {
		padding-left: 117px;
	}

	#mini-contact .fa-linkedin-square, #mini-contact .fa-github-square, #mini-contact .fa-imdb {
		position: relative;
		left: 2px;
	}

	#mini-contact p {
		position: relative;
		top: 60px;
		left: -180px;
		font-size: 15px;
	}

	#mini-contact .github-p {
		position: relative;
		left: -170px;
	}

	#mini-contact .vector-p {
		position: relative;
		left: -100px;
	}
}
