@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;1,500&display=swap');

*{
	padding: 0;
	margin: 0;
}

body {
	background: linear-gradient(rgba(146, 144, 144, 0.007), rgba(95, 95, 95, 0.11)), url('resources/vecteezy_white-squared-paper-sheet-background_94103/free-squared-paper-vector.jpg');
	background-size: cover;
	line-height: 1.5;
	font-family: 'Montserrat';
	overflow: hidden;
}

aside {
	background-color: coral;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	width: 20%;
	height: 100vh;
	z-index: 10;	
	box-shadow: 10px 2px 70px 5px rgba(0, 0, 0, 0.418);
}

#top-nav {
	background-color:rgb(211, 211, 211);
	text-align: center;
	padding-top: 40px;
}

#top-nav a {
	color: black;
	text-decoration: none;
}

.profile-pic {
	border-radius: 50%;
	height: 112px;
	width: 115px;
}

.job-title {
	font-size: 12px;
	text-align: center;
	padding-bottom: 40px;
}

#top-nav a :hover {
	color: cadetblue;
}

#bottom-nav {
	background-color:mediumseagreen;
	display: block;
	height: 100vh;	
}

#bottom-nav a {
	font-size: 15px;
	color: white;
	display: block;
	padding-top: 35px;
	padding-bottom: 35px;
	padding-left: 80px;
	text-decoration: none;	
}

#bottom-nav .fa-home, #bottom-nav .fa-briefcase, #bottom-nav .fa-user, #bottom-nav .fa-envelope {
	margin-right: 20px;
	font-size: 18px;
	display: inline-flex;
}

#bottom-nav .fa-home {
	font-size: 20px;
}

#bottom-nav a:hover {
	background-color:mediumspringgreen;
}

#bottom-nav a .fa-user {
	margin-right: 25px;
}

main {
	display: block;
	height: 100vh;
	max-width: 100%;
	overflow-y: scroll;	
	overflow-x: hidden;
}

h4 {
	background-color: mediumseagreen;
	color: white;
	font-size: 20px;
	padding: 30px;
	padding-left: 180px;
	text-align: left;
	display: block;
}

#home, #portfolio, #about, #contact {
	padding-bottom: 80px;
	margin-left: 290px;
	margin-bottom: 30px;
}

#home {
	padding-bottom: 380px;
}

#home h1 {
	margin-top: 200px;
	padding-left: 175px;
	font-size: 35px;

}

#home p {
	padding: 10px;
	padding-left: 180px;
	padding-right: 160px;
	padding-top: 20px;
	font-size: 16px;
	line-height: 1.8;
}

#home a {
	text-decoration: none;
	padding: 20px 80px;
	color: white;
	position: relative;
	top: 40px;
	left: 180px;
	background-color: coral;
	opacity: 5px;
	border-radius: 10px;
}

#home a:hover {
	background-color: teal;
}

#about {
	padding-bottom: 155px;
}

#about p {
	padding: 10px;
	padding-left: 180px;
	padding-right: 125px;
	padding-top: 40px;
	font-size: 16px;
	line-height: 1.8;
}

#contact {
	padding-bottom: 250px;
}

.contact-links a {
	text-decoration: none;
	display: inline-flex;
	padding: 20px;
	padding-left: 130px;
	padding-top: 70px;
}

.contact-links .fa-linkedin-square, .contact-links .fa-imdb, .contact-links .fa-github-square {
	font-size: 70px;
	color: black;
}

.contact-links p {
	padding-top: 30px;
	padding-left: 30px;
	font-size: 16px;
	color: darkslategray;
}

.contact-links p:hover, .contact-links .fa-linkedin-square:hover, .contact-links .fa-imdb:hover, .contact-links .fa-github-square:hover{
	color: teal;
}

#container-games {
	display: inline-flex;
	padding: 10px;
	padding-left: 110px;
}

.container {
	width: 100%;
	justify-content: center;
	align-items: center;
}

.card-container {
	width: 430px;
	height: 300px;
	margin: 20px;
}

.card {
	width: 100%;
	height: 100%;
	transition: transform 1s ease-in-out;
	transform-style: preserve-3d;
}

.card:hover {
	transform: rotateY(180deg);
}

.card .front {
	background-color: rgb(94, 94, 141);
	color: white;
	text-align: center;
	transform: rotateY(0deg);
	font-size: 14px;
	box-shadow: -0.8px 1px 2px 0.5px rgba(10, 10, 10, 0.616);
}

.card .back {
	background: aquamarine;
	color:black;
	transform: rotateY(-180deg);
	text-align: center;
	box-shadow: -0.8px 1px 2px 0.5px rgba(10, 10, 10, 0.616);
}

.card figure, .card .front{
	width: 100%;
	height: 100%;
	position: absolute;
	margin: 0;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	-webkit-backface-visibility: hidden;
}

.back p {
	color: rebeccapurple;
	padding: 20px;
	padding-left: 30px;
	text-align: left;
	font-size: 14px;
}

#social a {
	color: black;
	text-decoration: none;
	display: inline-flex;
	margin: 12px;
	margin-top: 20px;
	margin-bottom: 25px;
}

#social a .fa-external-link {
	font-size: 35px;
}

#social a .fa-github {
	font-size: 40px;
}

header, #main, #mini-home, #mini-about, #mini-portfolio, #mini-contact {
	display: none;
	visibility: hidden;
}




@media (min-width: 0px) and (max-width: 420px) {

	body {
		overflow-y: scroll;	
	}

	aside, main {
		display: none;
	}

	header {
		padding-top:20px;
		padding-right: 20px;
		max-width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		background-color: mediumseagreen;
		z-index: 10;
		display: block;
		visibility: visible;
	}

	nav a {
		float: right;
		text-decoration: none;
		visibility: visible;
	}

	nav .fa-bars {
		color: white;
		font-size: 25px;
		position: relative;
		top: -36px;
	}

	.side-menu {
		background-color: black;
		height: 100vh;
		width: 0;
		position: fixed;
		right: 0;
		top: 0;
		z-index: 2;
		opacity: 0.8;
		overflow-x: hidden;
		padding-top: 80px;
		transition: 0.5s;
		-webkit-transition: 0.5s;
	}

	.side-menu a {
		padding: 40px 20px;
		text-decoration: none;
		font-size: 17px;
		color: #ccc;
		display: block;
		position: relative;
		top: 50px;
		left: 90px;
		transition: 0.3s;
	}

	.side-menu .btn-close {
		position: absolute;
		top: -20px;
		left: 232px;
		font-size: 20px;
		color: white;
	}

	label, header p {
		color: white;
		display: flex;
		justify-content: center;
		position: relative;
		top: 0;
		bottom: 0;
		left: 12px;
	}

	header p {
		font-size: 10px;
		padding-top: 5px;
	}

	#main {
		display: block;
		visibility: visible;
		overflow-x: hidden;
		height: 100vh;
		max-width: 100%;
	}

	#mini-home, #mini-about, #mini-portfolio, #mini-contact {
		display: block;
		visibility: visible;
	}

	#mini-home {
		margin-top: 120px;
		padding-top: 40px;
		padding-bottom:200px;
	}
	
	#mini-home h1 {
		text-align: center;
	}

	#mini-home p {
		position: relative;
		left: 20px;
		padding-top:20px;
		padding-left: 50px;
		padding-right: 80px;
		text-align: justify;
	}

	#mini-home a {
		background-color: coral;
		opacity: 0.8;
		text-decoration: none;
		text-align: center;
		padding: 15px;
		padding-left: 90px;
		padding-right: 90px;
		position: relative;
		top: 50px;
		left: 66px;
		color: white;
		
	}

	#mini-about {
		padding-bottom:100px;

	}
	
	#mini-about p {
		position: relative;
		left: 20px;
		padding-top:30px;
		padding-left: 40px;
		padding-right: 70px;
		text-align: justify;
	}

	#mini-contact {
		padding-bottom: 100px;
	}

	#mini-contact .fa-linkedin-square, #mini-contact .fa-github-square, #mini-contact .fa-imdb {
		position: relative;
		left: 50px;
	}

	#mini-contact p {
		position: relative;
		top: 60px;
		right: 140px;
		font-size: 16px;
	}

	#mini-contact .github-p {
		position: relative;
		right: 130px;
	}

	#mini-contact .vector-p {
		position: relative;
		right: 100px;
		text-align: center;
	}

	#mini-portfolio {
		padding-bottom: 10px;
	}

	#mini-portfolio .card-container {
		width: 300px;
		height: 200px;
		position: relative;
		right: 70px;
		top: 20px;
		margin-bottom: 40px;
	}

	#mini-portfolio .container-mini {
		display: block;
	}

	#mini-portfolio .flex {
		display: block;
		margin-top: -40px;
	}

	#mini-portfolio .back p {
		padding-top: 40px;
		padding-left: 10px;
		text-align: justify;
		font-size: 12px;
	}

	#mini-portfolio .back h2 {
		font-size: 14px;
		position: relative;
		top: 30px;
		font-weight: bold;
	}

	#mini-social a {
		text-decoration: none;
		display: inline-flex;
		margin: 12px;
		margin-top: 2px;
		margin-bottom: 25px;
	}

	#mini-social a .fa-external-link {
		font-size: 30px;
	}

	#mini-social a .fa-github {
		font-size: 33px;
	}

	#mini-about h4 {
		padding-left: 170px;
	}

	#mini-portfolio h4 {
		padding-left: 160px;
	}

	#mini-contact h4 {
		padding-left: 170px;
	}

}



@media (max-width:375px) {

	#mini-home a {
		padding: 15px;
		padding-left: 70px;
		padding-right: 70px;
		position: relative;
		top: 50px;
		left: 64px;
	}

	#mini-portfolio .card-container {
		position: relative;
		right: 90px;
	}

	#mini-about h4 {
		padding-left: 150px;
	}

	#mini-portfolio h4 {
		padding-left: 140px;
	}

	#mini-contact h4 {
		padding-left: 150px;
	}

	#mini-contact .fa-linkedin-square, #mini-contact .fa-github-square, #mini-contact .fa-imdb {
		position: relative;
		left: 30px;
	}

	#mini-contact p {
		position: relative;
		top: 60px;
		right: 160px;
		font-size: 15px;
	}

	#mini-contact .github-p {
		position: relative;
		right: 140px;
	}
}

@media (max-width: 320px) {
	#mini-home h1 {
		font-size: 20px;
	}

	#mini-home a {
		padding-right: 50px;
		padding-left: 50px;
		position: relative;
		left: 60px;
	}
	
	#mini-portfolio .card-container {
		position: relative;
		right: 115px;
		width: 290px;
	}

	#mini-about h4 {
		padding-left: 125px;
	}

	#mini-portfolio h4 {
		padding-left: 110px;
	}

	#mini-contact h4 {
		padding-left: 117px;
	}

	#mini-contact .fa-linkedin-square, #mini-contact .fa-github-square, #mini-contact .fa-imdb {
		position: relative;
		left: 2px;
	}

	#mini-contact p {
		position: relative;
		top: 60px;
		left: -180px;
		font-size: 15px;
	}

	#mini-contact .github-p {
		position: relative;
		left: -170px;
	}

	#mini-contact .vector-p {
		position: relative;
		left: -100px;
	}
}


/*

@media (min-width: 800px ) and (max-width:1366px) {
	main {
		background-color:khaki;
		max-width: 100%;
	}

	#home {
		position: relative;
		right: 50px;
	}



}

*/
