@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;1,500&display=swap');

*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background-color: wheat;
	line-height: 1.5;
	font-family: 'Montserrat';
	overflow: hidden;
}

aside {
	background-color: coral;
	position: fixed;
	width: 300px;
	height: 100vh;
	z-index: 2;	
	box-shadow: 10px 2px 70px 5px rgba(0, 0, 0, 0.418);
}

#top-nav {
	background-color:rgb(211, 211, 211);
	text-align: center;
	padding-top: 40px;
}

#top-nav a {
	color: black;
	text-decoration: none;
}

.profile-pic {
	border-radius: 50%;
	height: 112px;
	width: 115px;
}

.job-title {
	font-size: 12px;
	text-align: center;
	padding-bottom: 40px;
}

#top-nav a :hover {
	color: cadetblue;
}

#bottom-nav {
	background-color:mediumseagreen;
	display: block;
	height: 100vh;	
}

#bottom-nav a {
	font-size: 15px;
	color: white;
	display: block;
	padding-top: 35px;
	padding-bottom: 35px;
	padding-left: 80px;
	text-decoration: none;	
}

#bottom-nav .fa-home, #bottom-nav .fa-briefcase, #bottom-nav .fa-user, #bottom-nav .fa-envelope {
	margin-right: 20px;
	font-size: 18px;
	display: inline-flex;
}

#bottom-nav .fa-home {
	font-size: 20px;
}

#bottom-nav a:hover {
	background-color:mediumspringgreen;
}

#bottom-nav a .fa-user {
	margin-right: 25px;
}

main {
	background: linear-gradient(rgba(146, 144, 144, 0.007), rgba(95, 95, 95, 0.11)), url('resources/vecteezy_white-squared-paper-sheet-background_94103/free-squared-paper-vector.jpg');
	width: 100%;
	height: 100vh;
	overflow-y: scroll;
	/* background-image: url('resources/vecteezy_white-squared-paper-sheet-background_94103/free-squared-paper-vector.jpg');*/
}

#home, #portfolio, #about, #contact {
	margin-left: 300px;
	margin-bottom: 20px;
	padding-bottom:80px;	
}

h4 {
	background-color: mediumseagreen;
	color: white;
	font-size: 20px;
	padding: 30px;
	padding-left: 133px;
}

#home {
	padding-bottom: 400px;
}

#home h1 {
	padding-left: 130px;
	padding-top: 170px;
}

#home p {
	padding: 10px;
	padding-left: 130px;
	padding-right: 70px;
	padding-top: 30px;
	font-size: 16px;
	line-height: 1.8;
}

#home a {
	text-decoration: none;
	padding: 20px 80px;
	color: white;
	position: relative;
	top: 60px;
	left: 130px;
	background-color: coral;
	opacity: 5px;
	border-radius: 10px;
}

#home a:hover {
	background-color: teal;
}

#about {
	padding-bottom: 250px;
}

#about p {
	padding: 10px;
	padding-left: 130px;
	padding-right: 70px;
	padding-top: 40px;
	font-size: 16px;
	line-height: 1.8;
}

#contact {
	padding-bottom: 600px;
}

.contact-links a {
	text-decoration: none;
	display: inline-flex;
	padding: 20px;
	padding-left: 130px;
	padding-top: 70px;
}

.contact-links .fa-linkedin-square, .contact-links .fa-imdb, .contact-links .fa-github-square {
	font-size: 70px;
	color: black;
}

.contact-links p {
	padding-top: 30px;
	padding-left: 30px;
	font-size: 16px;
	color: darkslategray;
}

.contact-links p:hover, .contact-links .fa-linkedin-square:hover, .contact-links .fa-imdb:hover, .contact-links .fa-github-square:hover{
	color: teal;
}

#container-games {
	display: inline-flex;
	padding: 10px;
	padding-left: 110px;
}

.container {
	width: 100%;
	justify-content: center;
	align-items: center;
}

.card-container {
	width: 430px;
	height: 300px;
	margin: 20px;
}

.card {
	width: 100%;
	height: 100%;
	transition: transform 1s ease-in-out;
	transform-style: preserve-3d;
}

.card:hover {
	transform: rotateY(180deg);
}

.card .front {
	background-color: rgb(94, 94, 141);
	color: white;
	text-align: center;
	transform: rotateY(0deg);
	font-size: 14px;
	box-shadow: -0.8px 1px 2px 0.5px rgba(10, 10, 10, 0.616);
}

.card .back {
	background: aquamarine;
	color:black;
	transform: rotateY(-180deg);
	text-align: center;
	box-shadow: -0.8px 1px 2px 0.5px rgba(10, 10, 10, 0.616);
}

.card figure, .card .front{
	width: 100%;
	height: 100%;
	position: absolute;
	margin: 0;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	-webkit-backface-visibility: hidden;
}

.back p {
	color: rebeccapurple;
	padding: 20px;
	padding-left: 30px;
	text-align: left;
	font-size: 14px;
}

#social a {
	color: black;
	text-decoration: none;
	display: inline-flex;
	margin: 12px;
	margin-top: 20px;
	margin-bottom: 25px;
}

#social a .fa-external-link {
	font-size: 35px;
}

#social a .fa-github {
	font-size: 40px;
}


/****** Responsive design *******/

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
/* Styles */

aside {
	display: none;
}


}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* Styles */
}